@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/home.css" rel="stylesheet" />

<div class="container">

    <div class="box box-1" style="--img:url( https://rare-gallery.com/mocahbig/1397377-Lina-Dota-2-Video-Game.jpg);" data-text="LINA"></div>
    <div class="box box-2" style="--img:url( https://egamersworld.com/uploads/blog/16781832220046.jpg);" data-text="MUETA"></div>
    <div class="box box-3" style="--img:url( https://i.pinimg.com/originals/ae/28/fc/ae28fcd0aa20bdd87f19123761c0004c.jpg);" data-text="MUETA"></div>
    <div class="box box-4" style="--img:url( https://i.pinimg.com/originals/92/45/34/924534d73ec9047c8e981cfd8ff099ad.jpg);" data-text="MUETA"></div>
    <div class="box box-5" style="--img:url(https://get.wallhere.com/photo/Dota-2-Blue-Team-Ancient-Apparition-ART-screenshot-computer-wallpaper-special-effects-582959.jpg );" data-text="MUETA"></div>


</div>
<div <a class="codepen-button"><span>Start </span></a></div>
            